.menu{
    display: flex;
    gap: 2rem;
    margin-bottom: 1rem;
}

table, td{
    border: 1px solid;
}

.acoes{
    display: flex;
    gap: 1rem;
}

*{
    justify-content: center;
}
a{
    color: black;
}
.aero{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1rem;
    justify-content: center;
    align-items: center;
}

.tabela{
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    padding-top: 10px;
}

#root{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.ppp{
    margin-top: 20px;
    
}