
* {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}

body {
  overflow-x: hidden;
  width: 100vw;
  min-height: 100vh;
}

@keyframes aparecerEsquerda {
  from {
    margin-top: 100%;
  }

  to {
    margin-top: 00%;
  }
}

.tudo {
  border: 5rem solid white;
  min-height: 100vh;
}
.ladoEsquerdo img {
  width: 90rem;
}
.topo {
  display: flex;
  justify-content: left;
  gap: 4rem;
  margin: 5rem;
  color: white;
  align-items: center;
  font-size: 25rem;
  height: 10rem;
  width: max-content;
}

.topo img {
  width: 9rem;
  height: 9rem;
}

.topo a {
  color: rgb(216, 216, 216);
  text-decoration: none;
  width: max-content;
}

.topo a:hover {
  color: rgb(197, 102, 197);
}

.ladoEsquerdo {
  margin: 5rem;
}

h1 {
  width: max-content;
  /* padding-top: 15rem; */
  padding-left: 0rem;
  font-size: 10rem;
  color: rgb(197, 102, 197);
  display: flex;
  justify-content: center;
  text-align: center;
  width: auto;
  font-family: "Bungee Shade", cursiva;
  animation-duration: 3s;
  animation-name: aparecerEsquerda;
}
h1:hover {
  text-shadow: 0 0 3rem rgb(197, 102, 197);
}

h2 {
  width: max-content;
  padding-top: 13rem;
  padding-left: 0rem;
  font-size: 6rem;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  width: auto;
}
.botaodiv {
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}
button {
  display: flex;
  border-color: transparent;
  border-radius: 3rem;
  font-size: 7rem;
  height: 15rem;
  width: 50rem;
  gap: 3rem;
  color: white;
  background-color: rgb(197, 102, 197);
  margin-top: 20rem;
  justify-content: center;
  align-items: center;
  margin-left: 1.5rem;
  border-color: rgb(201, 96, 201);
  box-shadow: 0 0 40px 40px rgb(201, 96, 201) inset, 0 0 0 0 rgb(201, 96, 201);
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  cursor: pointer;
}

button:hover {
  background-color: white;
  color: rgb(197, 102, 197);
  box-shadow: 0 0 10px 0 rgb(201, 96, 201);
}

.botaodiv a {
  text-decoration: none;
}

.ladoDireito {
  display: flex;
  justify-content: right;
  align-items: end;
}
.imgGrande {
  width: 130rem;
  height: 130rem;
  position: fixed;
  bottom: 5rem;
  right: 5rem;
  background-color: transparent;
}

.imgPequena {
  display: none;
}

.corpo {
  align-items: center;
  justify-content: space-between;
  display: flex;
}

/* media query ------------------------------------------------------------------------------- */
@media screen and (max-width: 320px) {
  * {
    font-size: 17%;
  }

  .imgGrande {
    width: 70rem;

    height: 70rem;
  }

  .corpo {
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
  }
  .imgGrande {
    display: none;
  }

  .imgPequena {
    display: flex;
    align-items: center;
    width: 50rem;
    height: 50rem;
  }
}
@media screen and (min-width: 321px) and (max-width: 568px) {
  * {
    font-size: 18%;
  }

  .imgGrande {
    display: none;
  }

  .corpo {
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
  }
  .imgPequena {
    display: flex;
    align-items: center;
    width: 50rem;
    height: 50rem;
  }
}

@media screen and (min-width: 569px) and (max-width: 768px) {
  * {
    font-size: 18.5%;
  }

  .imgGrande {
    width: 70rem;
    height: 70rem;
  }

  .corpo {
    align-items: left;
    /* justify-content: left; */
    display: flex;
    /* flex-direction: column; */
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  * {
    font-size: 22%;
  }

  .imgGrande {
    width: 90rem;
    height: 90rem;
  }

  .corpo {
    align-items: left;
    display: flex;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1366px) {
  * {
    font-size: 25%;
  }

  .topo {
    font-size: 15rem;
  }
  button {
    font-size: 5rem;
    cursor: pointer;
  }

  .imgGrande {
    width: 100rem;
    height: 100rem;
  }

  .corpo {
    align-items: left;
    display: flex;
  }
}

@media screen and (min-width: 1367px) and (max-width: 1680px) {
  * {
    font-size: 27%;
  }

  .topo {
    font-size: 15rem;
  }
  button {
    font-size: 5rem;
  }

  .imgGrande {
    width: 110rem;
    height: 110rem;
  }

  .corpo {
    align-items: left;
    display: flex;
  }
}

@media screen and (min-width: 1681px) {
  * {
    font-size: 30.5%;
  }
  .topo {
    font-size: 15rem;
  }

  button {
    font-size: 5rem;
  }

  .imgGrande {
    width: 130rem;
    height: 130rem;
    position: fixed;
    bottom: 5rem;
    right: 5rem;
  }

  .corpo {
    align-items: left;
    display: flex;
    margin-left: 30rem;
    margin-top: 20rem;
  }
}
